*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #708993;
    background-color: #19183B;
}

*::selection {
    color: #19183B;
    background-color: rgba(182, 65, 65, 0.5);
}

a {
    color: #708993;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.signUp-form {
    border: #708993 1px solid;
    box-shadow: -5px 10px 100px 10px rgba(182, 65, 65, 0.5);
}

.name-input,
.email-input,
.password-input {
    border: 1px solid #708993;
    color: #708993;
    background-color: #19183B;
}

.name-input:focus,
.email-input:focus,
.password-input:focus {
    color: #708993;
    background-color: #19183B;
}

.name-input::placeholder,
.email-input::placeholder,
.password-input::placeholder {
    color: #708993;
}

.success {
    color: rgb(36, 216, 30);
}

.alreadyExists,
.invalidName,
.invalidEmail,
.invalidPassword {
    color: rgb(182, 65, 65);
}