*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #708993;
    background-color: #19183B;
}

*::selection {
    color: #19183B;
    background-color: rgba(182, 65, 65, 0.5);
}

a {
    color: #708993;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sign-form {
    border: #708993 1px solid;
    box-shadow: -5px 10px 100px 10px rgba(182, 65, 65, 0.5);
}

.name,
.email,
.password {
    border: 1px solid #708993;
    background-color: #19183B;
    color: #708993;
}

.name:focus,
.email:focus,
.password:focus {
    color: #708993;
    background-color: #19183B;
}

.name::placeholder,
.email::placeholder,
.password::placeholder {
    color: #708993;
}

.success {
    color: rgb(36, 216, 30);
}

.alreadyExists,
.invalid,
.incorrect {
    color: rgb(182, 65, 65);
}