*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
    color: #708993;
    background-color: #19183B;
}

*::selection {
    color: #19183B;
    background-color: rgba(37, 216, 30, 0.5);
}

.welcome-box {
    height: 200px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    border: #708993 1px solid;
    box-shadow: -5px 10px 100px 10px rgba(37, 216, 30, 0.5);
}