*::selection {
    color: #19183B;
    background-color: rgba(37, 216, 30, 0.5);
}

body {
    position: relative;
    height: 100vh;
}

.welcome-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    height: 200px;
    padding: 15px;
    border: #708993 1px solid;
    box-shadow: -5px 10px 100px 10px rgba(37, 216, 30, 0.5);
}